@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

//? COLORS

$white-color: #ebf2f1;
$light-green: #2b6308;
$dark-green: #172c05;
$black-color: #020403;
$dark-red: #400101;

//? FONT

$font-family: "Oswald", serif;
